@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.h-screen {
  height: 100vh;
}

.bg-primary {
  background-color: #171717 !important;
}

.bg-white {
  background-color: #fff !important;
}

.w-400 {
  width: 400px !important;
}

input {
  border: 1px solid gray !important;
  height: 40px !important;
  width: 100% !important;
  padding-left: 20px !important;
}

input:focus {
  outline: none !important;
  border: 1px solid #171717 !important;
}

.primary-contained-btn {
  background-color: #171717 !important;
  border-radius: 0 !important;
  height: 45px !important;
  color: #fff !important;
  text-transform: uppercase !important;
}

.ant-form-item {
  margin-bottom: 10px !important;
}

a {
  color: #171717 !important;
  text-decoration: underline !important;
}

.divider {
  border-bottom: 1px solid gray !important;
  margin: 8px 0 !important;
}

.loader-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}